html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    .footer-newsletter #nf-form-3-cont .ninja-forms-field[type=button]:hover {border-radius:0 5px 5px 0;background-color:#be0623;}
}

body {
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal !important;
    color: $text-primary;
    font-size:12px;
    overflow-x:hidden;
    background-color: $gray3;

    &.search-opnened {
        overflow: hidden;
    }

}

@include media-breakpoint-down(md) {
    html {
        font-size:6px;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.img-fluid {
    width: 100%;
}

.logo-carousel-free .wpl-logo {
    border: 0 !important;
    padding: 20px;
}

.logo-carousel-free .slick-track {
    display: flex;
align-content: center;
align-items: center;
}

.acf-label {
    display: flex;
    label {
        display: inline-block !important;
        order: 2;
    }
    .description {
        display: inline-block !important;
        font-weight: bold !important;
        color: black !important;
        font-size: 12px !important;
        order: 1;
    }
}
