    .tags__categoria {
        background-color: $accent;
        padding: 5px 10px;
        border-radius: 30px;
        color:white;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
    }