.imovel-card {
    @include flex(1 0 auto);
    padding: 0px;
    width: 100%;

        @include media-breakpoint-up(md) {

            min-width: 600px;
        }
    box-shadow:0px 4px 5px rgba(0,0,0,.05);
    border-radius:10px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: white;

    .imovel-container {
        //height: 435px;
        overflow: hidden;

        .imovel-content {
            @include trans();
        }
    }

    .imovel-thumbnail {
        position: relative;
        @include flex-shrink(0);
        background: #ececec url('../img/layout/logo-gray.png') no-repeat center center;
        background-size: 50%;
        box-shadow: inset 0 0 50px -20px rgba(0,0,0,0.2);


        @include media-breakpoint-up(md) {
            min-width: 183px;
            min-height: 181px;
            max-width: 183px;
            max-height: 183px;
        }

        .tags__recomendado {
            position: absolute;
            top: 10px;
            left: 10px;
        }
                        .imovel-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

    }

    .imovel-details {
        flex-grow: 1;
        .imovel-title {
            padding: 20px;
            position: relative;

            .arrow-hover {
                position: absolute;
                left: calc(100% - 50px);
                top: 50%;
                @include transform(scale(.7) translateY(-50%));
                @include transform-origin(left top);
            }

            .imovel-nome {
                color: $text-primary;
                font-size:20px;
                padding-right: 20px;
            }

            .imovel-categoria {
                color: $text-accent;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
            }

            .imovel-aberto {
                @include flex-shrink(0);
                &.aberto {
                    color: $success;

                    &:before {
                        content: '';
                        padding: 3px;
                        border: 5px solid rgba($success, .2);
                        background-color: $success;
                        width: 10px;
                        height: 10px;
                        border-radius:100%;
                        display: inline-block;
                        position: relative;
                        bottom: -3px;
                        margin-right: 6px;
                    }
                }
            }

        }

        .imovel-info {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            @include align-content(center);
            padding: 20px 0;


            .info {
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
                @include align-content(center);
                @include flex-basis(33%);
                @include flex-grow(0);
                padding: 0 10px;

                
                &:first-child {
                    border-right:1px solid $gray;
                }
                &:last-child {
                    border-left:1px solid $gray;
                }

                small {
                    margin-top: 10px;
                    color: $text-gray;
                    font-size:10px;
                }
            }
        }

        .imovel-description {
            padding: 20px;
            font-size:12px;
            color: $text-primary;
        }

        .imovel-price {
            padding:0 20px;
            > small {
                font-size:12px;
                color: $text-gray;
                display: block;
            }
        }
    }

    // &:hover {
    //     .imovel-container {
    //         .imovel-content {
    //             @include transform(translateY(-230px));
    //         }
    //     }
    // }

    @include media-breakpoint-down(md) {
        padding: 0;
        width: 100%;

        position: relative;

        .arrow-hover {
            display: none;
        }
        
        .imovel-content {
            @include flexbox();
            @include flex-direction(column);


            .imovel-details {
                .imovel-title {
                    border: 0;
                }


                .imovel-info {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-top: 1px solid $gray;
                    border-bottom: 1px solid $gray;
                    padding: 10px 0;
                }
            }
        }

        .imovel-container {
            height: auto;
            border: 0;
        }

        .imovel-footer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: none;
                padding: 0;
                text-indent: -99999px;
            }

        }
    }

}

#map {
    .col-sm-12 {
        padding: 0;
    }
    .imovel-card {
        margin-bottom: 0;
        box-shadow: none;

        .imovel-details {
            max-width: 350px;
        }
    }
}
