.list-horizontal {
    margin-bottom: 20px;

    .mCSB_scrollTools {
        @include make-container();
        max-width: 1140px;
        position: relative;
        left: 10px;
    }

    .list-items {
        @include flexbox();
        overflow-x:auto;
        width: 100%;

        &:not(.mCustomScrollbar) {
            @include flexbox();
            padding-left: calc(50vw - 560px);
        }

        &.mCustomScrollbar {
            cursor: grab;
        }

        .mCSB_container {
            @include flexbox();
            padding-left: calc(50vw - 560px);
        }

        .list-item {
            @include flex();    
            margin-right: 20px;        
        }

        .space {
            @include flex(1 0 10vw);
            display: block;
        }
    }
}

@include media-breakpoint-down(md) {
    // .list-horizontal {
    //     &:not(.equipe) {
    //         margin-bottom: 0;

    //         .list-items {
    //             //@include flex-direction(column);
    //             padding: 0 !important;
    //             .mCSB_container {
    //                 //@include flex-direction(column);
    //                 padding: 0 !important;
    //             }
    //         }
    //     }
    // }
}
