#tolvnow-caller { 
    display:none; 
}

#tolvnow-custom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999999999;
    display: block;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: url('../img/layout/speech-bubble-with-text-lines.png') no-repeat center center;
    background-size: contain!important;
    img {
        width: 100%;
    }
    &:hover {
        background: url('../img/layout/speech-bubble-with-text-lines_white.png') no-repeat center center;
    }
}

#tolvnow-chat #topo {
    background-color: $accent;
}