// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800');

// body {
// 	font-family: 'Montserrat', sans-serif;
// }


@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('./assets/build/fonts/AvantGarde-Book.woff2') format('woff2'),
			url('./assets/build/fonts/AvantGarde-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('./assets/build/fonts/AvantGarde-Medium.woff2') format('woff2'),
			url('./assets/build/fonts/AvantGarde-Medium.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('./assets/build/fonts/AvantGarde-Demi.woff2') format('woff2'),
			url('./assets/build/fonts/AvantGarde-Demi.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('./assets/build/fonts/AvantGarde-Bold.woff2') format('woff2'),
			url('./assets/build/fonts/AvantGarde-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
    src: url('./assets/build/fonts/Helvetica-Light.eot');
    src: url('./assets/build/fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/build/fonts/Helvetica-Light.woff2') format('woff2'),
        url('./assets/build/fonts/Helvetica-Light.woff') format('woff'),
        url('./assets/build/fonts/Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

h4, .h4 {
	font-size: 16px;
	margin-bottom: 15px;
}

h5, .h5 {
	font-size: 12px;
	font-weight: normal;
}


$fa-font-path: "./assets/build/fonts/";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";    
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";    
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";    
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";    

